extends layout

block content
  table#test.layui-hide
block conflict-list
  each v,i in conflicts
    li.layui-nav-item
      a(href='') 云市场
block script
  script.
    layui.use('table', function(){
    var table = layui.table;
    table.render({
      elem: '#test'
      ,url:'/alerts'
      ,cellMinWidth: 80
      ,cols: [[
          {field:'_id', width:80, title: 'ID', sort: true}
          ,{field:'title', width:80, title: '用户名'}
        ]]
      });
    });

